body{
    background-image: url(blanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 45px;
}


ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}

.footer{
    height: 100px;
    background-color:aquamarine;
}



/* From Uiverse.io by krlozCJ */ 
button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}






.card:hover{
    background-color: skyblue;
    transform: translateY(-1%);
    box-shadow: 5px 5px 5px rgba(0,0,1,2.2);

}    

.container{
    display: flex;
    justify-content: center;
    align-items:center
}


